.slider {
  margin: 0 auto;
  margin-top: 3rem;
  width: 90%;
  max-width: 1000px;
}

.slider input {
  width: 100%;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider input:hover {
  opacity: 1;
}
