button {
  flex: 1;
  background-color: eee;
  color: #000;
  height: 10%;
  width: 10%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

button.active {
  background-color: dodgerblue;
  color: #fff;
}

button p {
  margin-top: 1rem;
  font-weight: bold;
}
